* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial;
  font-size: 14px;
 }

 .modal {
  width: 700px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 30px;
  background-color: white;
  color: #1a75bc;
 }
 
 .modalcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }
 
 .modalcontent h1, .modalcontent p, .modalcontent img {
  margin: 20px 0;
 }
 
 .modal #cerrarModal {
  font-size: 30px;
  align-self: flex-end
 }
 
 .modal img {
  width: 60%;
  height: auto
 }
 
 .nomostrar {
  display: none;
 }
